/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);*/
/*@media screen and (max-width: 900px) {
    body > .navbar .brand {
        padding-right: 0;
        padding-left: 0;
        margin-left: 20px;
        float: right;
        margin-right: 200px;
        font-weight: bold;
        color: #000;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
    }
}*/

.navbar-inner {
  background-image: none !important;
  background-color: #03A9F4 !important;
}

.nav>.active>a {
  background-color: #0091EA !important;
}

.navbar .nav>li>a {
  padding: 20px 15px !important;
  font-size: 15px;
  text-shadow: none !important;
  color: #fff !important;
  font-weight: bold;
}

.btn {
  background-image: none !important;
  background-color: #03A9F4 !important;
  color: #fff !important;
  text-shadow: none !important;  
}

#agregarTeorema {
  width: 45%;
  display: inline;
}

#row-fluid {
  margin-top: 0 !important;
}



/*************************************/

input[type="submit"], 
input[type="reset"]{
	border-radius: 5px;
}

b{
	font-size: 12px;
	padding:10px;
	margin-top:10px
}
#nav
{
	padding:0;
}

#nav li 
{
	display:inline;
}
#nav li a 
{   
	padding: 10px 5% 10px 5%;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-decoration: none;
	text-align:center;
	background-color: #333333;
	border-bottom:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border: 2px solid black;
	color:#ccc;
	transition: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
}

#nav li .active, #nav li a:hover
{
	background-color:#9B1C26;
	padding: 10px 5% 15px 5%;
	border-bottom:2px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	color: white;
}

.table{
	border: 1px #ccc solid;
}
.table th{
	padding:2px;
}
.table td{
	padding:4px;
}
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

a:hover {
   text-decoration: none;
}

a.expandmeta {
    cursor: default;
}

span.metaitem {
    margin-left: 38px;
}

.navbar .nav>li>a {
	float: none;
	padding: 19px 10px 20px 30px !important;
}

h3.subtitle {
    color: #03A9F4;
}

#misteoremas ul li {
    list-style: none; 
}

#misteoremas ul li ul li{
    list-style: none;
}

#misteoremas ul li ul li p{
    color: #000;
}

#listaSoluciones li {
    list-style: none;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
	background-color: #DDD;
	color: rgb(151, 0, 0);
	text-align: center;
	text-decoration: none;
}
.accordion-heading .accordion-toggle:hover {
	display: block;
	padding: 8px 15px;
	background-color: #ccc;
	color: rgb(151, 0, 0);
	text-align: center;
	text-decoration: none;
}

.boton {
	-moz-box-shadow:inset 0px 0px 0px 0px #999999;
	-webkit-box-shadow:inset 0px 0px 0px 0px #999999;
	box-shadow:inset 0px 0px 0px 0px #999999;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5808a), color-stop(1, #9b1c27) );
	background:-moz-linear-gradient( center top, #f5808a 5%, #9b1c27 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5808a', endColorstr='#9b1c27');
	background-color:#f5808a;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:29px;
	-moz-border-radius-topright:29px;
	border-top-right-radius:29px;
	-webkit-border-bottom-right-radius:29px;
	-moz-border-radius-bottomright:29px;
	border-bottom-right-radius:29px;
	-webkit-border-bottom-left-radius:29px;
	-moz-border-radius-bottomleft:29px;
	border-bottom-left-radius:29px;
	text-indent:0;
	border:1px solid #9b1c27;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:80px;
	text-decoration:none;
	text-align:center;
}
.boton:hover {
	-moz-box-shadow: 0px -1px 7px 1px #999999;
	-webkit-box-shadow: 0px -1px 7px 1px #999999;
	box-shadow: 0px -1px 7px 1px #999999;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5808a), color-stop(1, #9b1c27) );
	background:-moz-linear-gradient( center top, #f5808a 5%, #9b1c27 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5808a', endColorstr='#9b1c27');
	background-color:#f5808a;
}.boton:active {
	position:relative;
	top:1px;
}

.error {
    color: #ff0000;
}

div.main-center {
    padding-top: 50px;
}

ul.help {
    list-style-type:square;
}

.footer-login-span {
    border-right: 1px #ccc solid; 
    padding-right: 10px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer-div {
    border:1px #ccc solid; 
    padding:10px;
    background-color: #ffffff;
}

.behind-footer {
    margin: 3px; 
    padding: 10px;
}

.description-index{
    padding:30px;
    margin:30px;
}

div#render {
    overflow-x: scroll;
    margin-left:0px;
    margin-right:0px;
}

article{
    height: 40px;
    overflow:hidden;
    transition: height 2s;
    -webkit-transition: height 2s;
}
article.misTerminos{
    /*height:250px;*/
    height:74.4%;
    outline: none;
}
article.predefinidos{
    /*height:290px;*/
    height: 86.3%;
    outline: none;
}
article.publicos{
    /*height:210px;*/
    height:62.5%;
    outline: none;
}
iframe{
    -webkit-overflow-scrolling: touch !important; /*for safari in ipod and ipad*/
    overflow-y:scroll !important;
}

.bg-blue{
    background-color: #03A9F4 !important;
}

#modalLoading {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4); 
}

.box-loading{
  height: 110px;
  width: 80px;
  margin-top: 15%;
  background-color: white;
  border: 1px solid #000;
  border-radius: 15%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #03A9F4 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}