<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/namedb</property>
    <property name="hibernate.connection.username">userdb</property>
    <property name="hibernate.connection.password">password</property>
    <mapping resource="com/howtodoinjava/entity/Usuario.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Termino.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Publicacion.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Predicado.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Teorema.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Solucion.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Resuelve.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Categoria.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Metateorema.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Dispone.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Materia.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Teoria.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/Simbolo.hbm.xml"/>
    <mapping resource="com/howtodoinjava/entity/MostrarCategoria.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
