[Unit]
Description=Calclogic Logging Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart= bash /root/calclogic/logs/calclogiclogs.sh

[Install]
WantedBy=multi-user.target