<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/calclogicdb" />
        <property name="username" value="testuser" />
        <property name="password" value="password" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        
        <!-- Se configura el datasource para Hibernate -->
        <property name="dataSource" ref="dataSource"/>
        
        <property name="packagesToScan">
            <value>com.calclogic.entity</value>
        </property>
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.default_schema">testuser</prop>
                <prop key="hibernate.hbm2ddl.auto">
                    update
                </prop>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.PostgreSQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                
                <!--<prop key="hibernate.hbm2ddl.import_files">import.sql</prop>-->
            </props>
        </property>
    </bean>
    
   <bean id="txManager" 
      class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!--Enable annotation driven transaction management--> 
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>


<!-- Si quiero usar JPA en lugar de Hibernate con spring -->

<!--       Create default configuration for Hibernate 
    <bean id="hibernateJpaVendorAdapter" 
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
        <property name="packagesToScan">
            <value>com.calclogic.entity</value>
            <list>
                <value>com.calclogic.entity.Usuario</value>
            </list>
        </property>
        
         Set JPA properties 
        <property name="jpaProperties">
            <props> 
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property> 
    </bean>
    
     Enable annotation driven transaction management 
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
     Configure the transaction manager bean 
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>-->
